<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script th:src="@{/lib/jquery-1.12.0.min.js}"></script>
        <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/lib/angular/angular.min.js}"></script>
        <script th:src="@{/lib/angular/angular-resource.min.js}"></script>
        <script th:src="@{/lib/angular/ui-bootstrap-tpls-2.5.0.min.js}"></script>
        <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/lib/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>

        <link th:href="@{/custom/style.css}" rel="stylesheet"/>
        <script th:src="@{/custom/angularMain.js}"></script>
        <script th:src="@{/custom/editDialog/phoneBookItem.editModal.controller.js}"></script>

        <title>Телефонный справочник</title>
    </head>
    <body ng-app="app" ng-controller="PhoneBookController" th:class="container">

        <button type="button" class="btn btn-default" ng-click="showEditDialog()">Добавить сотрудника</button>
        <div class="panel panel-default">
            <div class="panel-heading">Фильтрация сотрудников</div>
            <div class="panel-body">
                <div class="row">
                    <p th:class="col-md-3">Фамилия</p>
                    <input th:class="text-input+' '+col-md-4" ng-model="filters.lastName"/>
                </div>
                <div class="row">
                    <p th:class="col-md-3">Имя</p>
                    <input th:class="text-input+' '+col-md-4" ng-model="filters.firstName"/>
                </div>
                <button th:class="btn+' '+btn-default" ng-click="search()">Поиск</button>
            </div>
        </div>

        <h3 ng-show="list.length==0" th:class="text-center">Не найдено ни одного сотрудника по заданным критериям</h3>
        <table ng-show="list.length>0" align="center" th:class="table+' '+table-bordered+' '+text-center">
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Телефон</th>
            </tr>
            <tr ng-repeat="e in list">
                <td class="inline-cell">
                    <span class="onhover glyphicon glyphicon-pencil" ng-click="showEditDialog(e)"></span>
                    <span class="onhover glyphicon glyphicon-remove" ng-click="delete(e)"></span>
                    {{e.firstName}}
                </td>
                <td>{{e.lastName}}</td>
                <td>{{e.patronymic}}</td>
                <td>{{e.phone}}</td>
            </tr>
        </table>
    </body>
</html>